<h1>Shelters Index</h1>

<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %></h3>
  <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", method: "get" %>
<% end %></br></br></br>

<a href="/shelters/new">New Shelter</a>
