<h1>Pet's Application Index Page</h1>

<% if !@pet_applications.empty? %>
  <% @pet_applications.each do |pet_application| %>
    <section id="applicant-<%= pet_application.application.user_id %>">
      <%= link_to pet_application.application.user.name, "/applications/#{pet_application.application_id}", method: "get" %>
    </section>
  <% end %>
<% else %>
    <p>There are no applications for this pet yet</p>
<% end %>
